{% extends 'base_employers.html' %}
{% block content %}
{% load static %}

<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>

    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
            <img class="one-third align-self-end order-md-last img-fluid" src="{% static 'images/product_tour.svg' %}" alt="">
            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text mt-5">
                        <p class="mb-4 mt-5 pt-5">We have <span class="number" data-number="30000">0</span> job applicants!</p>
                    <h1 class="mb-5">Largets Job Site In The World</h1>

                    <div class="ftco-search">
                        <div class="row">
                            <div class="col-md-13 nav-link-wrap">
                                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Find a Candidate</a>
                                    <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Search</a>
                                </div>
                            </div>

                            <div class="col-md-13 tab-wrap">
                                
                                <div class="tab-content p-4 " id="v-pills-tabContent">

                                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                                        <form action="#" class="search-job">
                                            <div class="row no-gutters">
                                                <div class="col-md mr-md-2">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-briefcase"></span></div>
                                                            <input type="text" class="form-control" placeholder="eg. Adam Scott"">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md mr-md-2">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                                        <select name="" id="" class="form-control">
                                                            <option value="">Category</option>
                                                            <option value="">Full Time</option>
                                                            <option value="">Part Time</option>
                                                            <option value="">Freelance</option>
                                                            <option value="">Internship</option>
                                                            <option value="">Temporary</option>
                                                        </select>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md mr-md-2">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-map-marker"></span></div>
                                                            <input type="text" class="form-control" placeholder="Location">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <button type="submit" class="form-control btn btn-secondary">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                                        <form action="#" class="search-job">
                                            <div class="row">
                                                <div class="col-md">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <div class="icon"><span class="icon-search"></span></div>
                                                            <input type="text" class="form-control" placeholder="eg. Data Scientist">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="form-field">
                                                            <button type="submit" class="form-control btn btn-secondary">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                      <div class="icon">
                          <span class="flaticon-employee"></span>
                      </div>
                    <strong class="number" data-number="435000">0</strong>
                    <span>Jobs</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                      <div class="icon">
                          <span class="flaticon-collaboration"></span>
                      </div>
                    <strong class="number" data-number="40000">0</strong>
                    <span>Members</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                      <div class="icon">
                          <span class="flaticon-resume"></span>
                      </div>
                    <strong class="number" data-number="30000">0</strong>
                    <span>Resume</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                      <div class="icon">
                          <span class="flaticon-promotions"></span>
                      </div>
                    <strong class="number" data-number="10500">0</strong>
                    <span>Company</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="ftco-section ftco-candidates bg-light">
    <div class="container">
        <div class="row justify-content-center pb-3">
        <div class="col-md-10 text-center heading-section ftco-animate">
        <span class="subheading">Candidates</span>
        <h2 class="mb-4">Latest Candidates</h2>
        </div>
    </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="carousel-candidates owl-carousel">
                <div class="item">
                    <a href="#" class="team text-center">
                        <div class="img" style="background-image: url(../static/images/person_1.jpg);"></div>
                        <h2>Danica Lewis</h2>
                        <span class="position">Western City, UK</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="team text-center">
                        <div class="img" style="background-image: url(../static/images/person_2.jpg);"></div>
                        <h2>Nicole Simon</h2>
                        <span class="position">Western City, UK</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="team text-center">
                        <div class="img" style="background-image: url(../static/images/person_3.jpg);"></div>
                        <h2>Cloe Meyer</h2>
                        <span class="position">Western City, UK</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="team text-center">
                        <div class="img" style="background-image: url(../static/images/person_4.jpg);"></div>
                        <h2>Rachel Clinton</h2>
                        <span class="position">Western City, UK</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="team text-center">
                        <div class="img" style="background-image: url(../static/images/person_5.jpg);"></div>
                        <h2>Dave Buff</h2>
                        <span class="position">Western City, UK</span>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="team text-center">
                        <div class="img" style="background-image: url(../static/images/person_6.jpg);"></div>
                        <h2>Dave Buff</h2>
                        <span class="position">Western City, UK</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}