<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <!-- <div class="center">
            <button type="button" class="btn btn-primary btn-lg margin_right landing_button">Candidate</button>
            <button type="button" class="btn btn-primary btn-lg margin_left landing_button">Employer</button>
        </div> -->

        <div class="hero-wrap js-fullheight">
            <div class="overlay"></div>
        
            <div class="container-fluid px-0">
                <div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
                    <img class="one-third align-self-end order-md-last img-fluid" src="{% static 'images/software_engineer.svg' %}" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                        <div class="text mt-5">
                            <h1 class="mb-5">Largets Job Site In The World</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>